*{
    text-align: center;
    margin: 0;
    padding: 0;
}
body{
    background-color: #414141;
    color: white;
}
h1{
    text-align: center;
}

form{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    align-content: center;
    align-items: center;
    background-color: #212121;
    margin: auto;
    height: 160px;
    border-radius: 20px;
    margin-bottom: 10px;
}
input{
    margin: 10px;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    font-size: 2rem;
}

button{
    height: 30px;
    width: auto;
    color: rgb(239, 242, 239);
    background-color: rgb(16, 41, 75);
    border-radius: 5px;
    font-size: 1.5rem;
}

#show-result{
    background-color: #313131;
    height: 50px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    justify-content: center;
    color: #00ff00;
    font-size: 1.5rem;
    
}
/* h3{
    background-color: black;
} */