*{
    color: white;
    font-size: 120%;
}
div{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: #212121;
    align-items: center;
    justify-content: center;
}
#timer{
    display: flex;
    height: 100px;
    width: 500px;
    background-color: rgb(60, 93, 93);
    align-items: center;
    justify-content: center;
}