*{
    font-size: 1.2rem;
}
h1{
   text-align: center; 
}

form{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#result{
    text-align: center;
    height: 100px;
    padding: 10px;
    margin: 10px;
    /* border: 1px solid blue; */
}
#button{
    display: flexbox;
    align-items: center;
}
h3{
    text-align: center;
}